{% extends 'base.html.twig' %}

{% block title %}{% if create == true %}Nouvel article{% else %}Modifier : {{article.libelle}}{% endif %}{% endblock %}

{% block body %}
<div class="container mt-5 mb-3">
    <a href="/list"><div class="btn btn-danger float-right">Annuler</div></a>
    <div class="form-group">
        <h3 class="text-center mb-2">{% if create == true %}Nouvel article{% else %}Modifier : {{article.libelle}}{% endif %}</h3>
        {{ form_start(form) }}
        {{ form_widget(form.libelle, {'attr': {'class': 'form-control mt-2', 'placeholder':'Libelle'}}) }}
        {{ form_widget(form.prix, {'attr': {'class': 'form-control mt-2', 'placeholder':'Prix'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control mt-2', 'placeholder':'Description'}}) }}
        {{ form_widget(form.image, {'attr': {'class': 'form-control mt-2', 'placeholder':'URL de l\'image'}}) }}
        <button class="btn btn-primary mt-2 btn-block">{% if create == true %}Créer{% else %}Modifier{% endif %}</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}