{% extends 'base.html.twig' %}

{% block title %}{{article.libelle}}{% endblock %}

{% block body %}
<div class="container mt-5 mb-3">
    <a href="/"><div class="btn btn-danger m-3">Retour à la liste</div></a>
    <div class="card">
        <img src="{{article.image}}">
        <div class="card-body text-left">
            <h3>{{article.libelle}}</h3>
            <div class="card-title">
                {{article.prix}}€
            </div>
            <p>{{article.description}}</p>
    </div>
    </div>
</div>
{% endblock %}
